.blogpost a:visited {
  text-decoration: none;
  color: green;
}

#home_button {
    margin: 5px 0 0 5px;
  display: inline-block;
  position: relative;
  background-color: #f86347;
}

#face-pic {
    height: 100px;
    width: 100px;
    float: right;
  margin: 5px 0 10px 0;
  border: solid black 1px;
    }
.header {
  display: inline-block;
   width: 100%;
    position: relative;
}
#blogsite-title {
  font-family: Courier New;
    
  font-size: 40px;
  position: absolute;
    
  margin-left: auto;
    padding: 2px;
    
  color: #F4F5FA;
    
  /* border: 3px blue solid; */
}

#content {
  margin-right: 25px
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}
a:link {
  text-decoration: none;
  color: black;
}

.link-readmore a:link{
text-decoration: none;

color: #f95010;
}

.blog-post a:link {
  text-decoration: none;
  color: #a93526;
}


.blog-post a:visited {
  text-decoration: none;
  color: #F9270C;
}
.blog-post a:hover{
color: #66CDAA;
}

.blog-title{
  font-size: 28px;
}
.blog-title a:hover {
  font-size: 30px;
  font-style:italic;
}

.center-wrapper{
  background-color: rgba(240, 239, 237);
  background-color: rgba(240, 239, 237, 0.55);
  width: 70%;
  height: 100%;
  margin: 0 auto;
  /*position: relative;*/
  top: 150px;
  padding: 10px;
}

.blog-post {
    /*top: 150px;
    position: relative;*/
    /*display: inline-block;*/
    /*padding: 20px 50px 20px 20px;*/ 
    border-bottom: 2px solid black;
    /*width: 70%;
    background-color: rgba(240, 239, 237, 0.55);
*/    
}

.blog-title {
    font-family: Courier New;
    font-size: 25px;
    text-align: left;
}

.post-pic {
    height: 200px;
    float: left;
    margin: 10px;
    border: 1.75px solid black
}

.footer a:link {
  text-decoration: none;
  color: #417fb0;
}
.footer a:visited {
  text-decoration: none;
  color: #417fb0;
}
.footer a:hover{
color: #66CDAA;
font-size: 20px;
}

.footer {
  clear: left;
  position: relative;
  height: 100px;
    width: 100%;
    margin: 20px auto;
    display: inline-block;
  /*padding: 5px 5px 5px 5px;*/
  border-top: 1px solid black;
}

.footer-icon {
    margin: 10px auto 0 auto;
    height: 50px;
}

.readmore {
  font-size: 18px;
}

body {
  font-family: Tahoma;
  background-color: #e6e548}

pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}