#home_button {
    margin: 5px 0 0 5px;
  display: inline-block;
  position: relative;
}

#face-pic {
    height: 100px;
    width: 100px;
    float: right;
  margin: 5px 0 10px 0;
  border: solid black 1px;
    }
#header {
  display: block;
   width: 100%;
    border: solid black 1px;
    background-color: grey;
    position: relative;
}
#blogsite-title {
    font-size: 18px;
  position: absolute;
    margin-left: 50%
}

#content {
  margin-right: 25px
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}
a:link {
  text-decoration: none;
  color: black;
}

.link-readmore a:link{
text-decoration: none;
color: #00868B;
}

.link-readmore a:hover{
color: #66CDAA;
}



.blog-post {
    width: 100%;
    display: inline-block;
    /*padding: 20px 50px 20px 20px;*/
    border-top: 1px solid black;
}

.blog-title {
    font-size: 18px;
    text-align: left;
}

.post-pic {
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom:5px;
    margin-top: 10px;
}

.content{
  margin-right: 25px;
}

.footer {
  clear: left;
  height: 100px;
    width: 100%;
    margin: 20px auto;
    display: inline-block;
  /*padding: 5px 5px 5px 5px;*/
  border-top: 1px solid black;
}

.footer-icon {
    margin: 10px auto 0 auto;
    height: 50px;

}

body {
  font-family: Verdana;
  font-size: 14;
}

pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}