.blogpost a:visited {
  text-decoration: none;
  color: green;
}

#home_button {
    margin: 5px 0 0 5px;
  display: inline-block;
  position: relative;
  background-color: #f86347;
}

#face-pic {
    height: 100px;
    width: 100px;
    float: right;
  margin: 5px 0 10px 0;
  border: solid black 1px;
    }
.header {
  display: inline-block;
   width: 100%;
    position: relative;
}
#blogsite-title {
  font-family: Courier New;
  font-weight:500;
  font-size: 40px;
  position: relative;

  margin-left: 40%;
    padding: 2px;
    
  color: #F4F5FA;
    }

#content {
  margin-right: 25px
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}
a:link {
  text-decoration: none;
  color: black;
}

.link-readmore a:link{
text-decoration: none;

color: #f95010;
}

.blog-post a:link {
  text-decoration: none;
  color: #a93526;
}


.blog-post a:visited {
  text-decoration: none;
  color: #F9270C;
}
.blog-post a:hover{
color: #66CDAA;
}

.blog-title{
  font-size: 28px;
}
.blog-title a:hover {
  font-size: 30px;
  font-style:italic;
}

.center-wrapper{
  background-color: rgba(240, 239, 237);
  background-color: rgba(240, 239, 237, 0.55);
  width: 70%;
  height: 100%;
  margin: 0 auto;
  /*position: relative;*/
  top: 150px;
  padding: 10px;
}

.blog-post {
    /*top: 150px;
    position: relative;*/
    /*display: inline-block;*/
    /*padding: 20px 50px 20px 20px;*/ 
    border-bottom: 2px solid black;
    /*width: 70%;
    background-color: rgba(240, 239, 237, 0.55);
*/    
}

.blog-title {
    font-family: Courier New;
    font-size: 25px;
    text-align: left;
}

.post-pic {
    height: 200px;
    float: left;
    margin: 10px;
    border: 1.75px solid black
}

.footer a:link {
  text-decoration: none;
  color: #417fb0;
}
.footer a:visited {
  text-decoration: none;
  color: #417fb0;
}
.footer a:hover{
color: #66CDAA;
font-size: 20px;
}

.footer {
  clear: left;
  position: relative;
  height: 100px;
    width: 100%;
    margin: 20px auto;
    display: inline-block;
  /*padding: 5px 5px 5px 5px;*/
  border-top: 1px solid black;
}

.footer-icon {
    margin: 10px auto 0 auto;
    height: 50px;
}

.readmore {
  font-size: 18px;
}

body {
  font-family: Tahoma;
  background-color: #e6e548}

/*pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}*/

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */
pre{
  width: 90%;
}
pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #34cf1d; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #faff93; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #faff93; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #fff411; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
        background-color: #858a72;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -o-border-radius: 8px;
        -ms-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
        margin-left: 0;
}



/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}