
body {
  background: #FFF;
  font-family:'Montserrat',sans-serif;
  padding-top: 85px;
}

.description {
  padding: 1em;
}

.title {
  font-family:'Open Sans', sans-serif;
  /*font-size: 30px;*/
  /*font-weight: bold;*/
  /*font-style: normal;*/
}

.footer{
  text-align:center;
  margin-bottom: 50px;
}
.footer-icon {
  height:50px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.jumbotron p{
  line-height: 1.4;
}
nav {
  text-align: center;
  background:#fff;
  margin-top: 0;
}
  nav a {
    color:#11cda9;
    text-decoration:none;
    padding: 0.75em;
    text-align:center;
    text-transform:uppercase;
    font-size: 1.5em;
    -webkit-transition:all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
  }



.navbar .navbar-nav li a{
  color: #11CDA9;
}
.navbar .navbar-nav li .active{
  background-color: #11CDA9;
  color: white;
}

.navbar .navbar-nav li a:hover {
  background:#11CDA9;
  letter-spacing:0.1em;
  text-decoration: none;
  color: white;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
}

.navbar-default {
  background-color: white;
}
  .navbar-default .navbar-toggle .icon-bar{
    background-color: #11CDA9;
  }

/*.navbar-default .navbar-toggle:hover{
    background-color: #11CDA9;
}
  .navbar-default .navbar-toggle .icon-bar:hover{
      background-color: white;
  }*/

.projects {
    text-align: center;
}
  .projects img {
    border: 1px solid rgb(217, 217, 217);
    border-radius: 6px;
    text-align: center;
  }
    .projects img:hover{
      opacity: 0.5;
    }

.top-buffer { margin-top:20px; }



/* @media (min-width:801px) and (max-width:1300px) {
  nav a {font-size:1em;}
}

@media (max-width:600px) {
  nav {flex-direction:column;width:100%;}
} */